In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string
from glob import glob
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
training=pd.read_csv(r'C:\Users\vikil\Desktop\ML\data_Sets\twitter\train.csv')
training=training.set_index('id')
training.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [3]:
data_in=training.loc[:,['text']]
data_in.head()

                                                 text
id
1   Our Deeds are the Reason of this #earthquake M...
4              Forest fire near La Ronge Sask. Canada
5   All residents asked to 'shelter in place' are ...
6   13,000 people receive #wildfires evacuation or...
7   Just got sent this photo from Ruby #Alaska as ...

In [4]:
data_in_new=training.loc[:,['text','target']]
data_in_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 1 to 10873
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    7613 non-null   object
 1   target  7613 non-null   int64
dtypes: int64(1), object(1)
memory usage: 178.4+ KB

In [5]:
data_out=training.loc[:,['target']]
data_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 1 to 10873
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  7613 non-null   int64
dtypes: int64(1)
memory usage: 119.0 KB

In [6]:
def tweet_cleaner(sentence):
   # nopuc=[char for char in text if char not in string.punctuation]
   # nopuc=''.join(nopuc)
    
    clean_words=[word for word in sentence.split()]# if word.lower not in stopwords.words('english')]
    
    return clean_words

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
con=CountVectorizer(analyzer=tweet_cleaner)
x_text=con.fit_transform(data_in['text'])

In [165]:
x_text.shape

(7613, 31924)

In [166]:
from sklearn.model_selection import train_test_split
tr,te=train_test_split(x_text,test_size=0.2)
trt,tet=train_test_split(data_out,test_size=0.2)

In [167]:
from sklearn.naive_bayes import MultinomialNB
cls=MultinomialNB()
cls.fit(tr,trt)
pred=cls.predict(te)
accuracy_score(pred,tet)

0.5285620485883126

In [168]:
from sklearn.linear_model import LogisticRegression
clf_log=LogisticRegression()
clf_log.fit(tr,trt)
pred_log=clf_log.predict(te)
accuracy_score(pred_log,tet)

0.5173998686802364

In [169]:
from sklearn.tree import DecisionTreeClassifier
clf_dec=DecisionTreeClassifier()
clf_dec.fit(tr,trt)
pred_dtc=clf_dec.predict(te)
accuracy_score(pred_dtc,tet)

0.525935653315824